/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. Первая тема Темная Mobile*/

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-image), var(--bg-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  padding: 0 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100vh;
  position: relative;
}

.dark-rec {
  position: absolute;
  color: var(--accent-color, #ff0070);
  right: 40px;
  top: 10px;
  font-family: var(--main-font, "IBM Plex Mono");
  font-size: 18px;
  margin: 0;
}

.dark-rec::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #ff0070);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  place-items: center;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  top: 7px;
  right: -20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--accent-color-corner, #ff0070);
  border-inline-end: 1px solid var(--accent-color-corner, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  border-inline-start: 1px solid var(--accent-color-corner, #ff0070);
  border-block-end: 1px solid var(--accent-color-corner, #ff0070);
  bottom: 10px; 
}

.header__theme-menu {
  padding-top: 20px;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 15px;
  align-items: flex-end;
  margin-top: 57px;
}

.header__theme-menu-button {
  background: transparent;
  border: transparent;
  color: var(--button);
  border: none;
  padding: 0 13px;
  font-family: var(--main-font, "IBM Plex Mono");
  font-size: 18px;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
  cursor: pointer;
  border: 1 solid var(--button);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button);
  outline: none;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__title {
  /* Для мобильных 
  clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  Для планшета и десктопа 
  clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);*/

  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-family: var(--main-font, "IBM Plex Mono");
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__subtitle {
  display: block;
  margin-bottom: 6px;
}

.title-decor {
  background-color: var(--accent-bg-color, #ff0070);
  color: var(--text-color-p, #000028);
  font-family: var(--main-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  white-space: wrap;
}

/* MAIN */

.content {
  padding: 0 10px;
  margin-top: 40px;
}

.why {
  line-height: 23.4px; /* 130% */
}

.section__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: var(--title-color-main, #ff0070);
  font-family: var(--main-font, "IBM Plex Mono");
}

.why .section__title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.which_reduces .section__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.how .section__title {
  margin-bottom: 20px;
}

.section__list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  justify-content: space-between;
}

.section__item {
  display: grid;
  grid-auto-columns: auto;
}

.content-section__text,
.content-section__text-regular {
  font-family: var(--main-font, "IBM Plex Mono");
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.content-section__text {
  margin-top: 10px;
}

.content-section__text-regular {
  margin-top: 10px;
}

.link {
  text-decoration: none;
}

.accent-link {
  text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
}

.accent-link:hover {
  border-bottom: 1px solid var(--link-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--link-color, #f1b2ce);
}

.why .section__list,
.which_reduces .section__list,
.how .section__list {
  margin-bottom: 50px;
}

.how {
  margin-top: 8px;
}

.content__section_font-regular {
  background-color: var(--accent-bg-color, #ff0070);
  color: var(--text-color-p, #000028);
  font-family: var(--main-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  white-space: wrap;
}

.section__pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pictures .title-decor {
  margin-bottom: 10px;
}

.pic_sunset,
.pic_ice-cream,
.pic_tape,
.pic_books,
.pic_street {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  display: grid;
  padding: 0 10px;
  margin-top: 38px;
  grid-template-rows: (3, 1fr);
  min-height: 668px;
  height: 100vh;
  align-items: center;
}

.footer__title {
  color: var(--title-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  font-family: var(--main-font, "IBM Plex Mono");
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-top: 5px;
  margin-left: 5px;
}

@media (768px <= width < 1024px) {
  .header {
    padding: 0 5px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -5px;
  }

  .dark-rec {
    right: 50px;
    top: 20px;
    margin: 0;
  }

  .decorated-zone::before { 
    content: ""; 
    top: 20px; 
    right: 20px; 
  } 
 
  .decorated-zone::after { 
    content: "";
     left: 20px; 
     bottom: 20px ;
  }

  .header__theme-menu-list {
    gap: 17px;
    margin-top: 174px;
    margin-right: 15px;
  }

  .what {
    margin-top: 152px;
    margin-left: 365px;
    margin-bottom: 98px;
  }

  .header__subtitle {
    margin-left: 378px;
    margin-bottom: 16px;
  }

  .content {
    padding: 0 20px;
  }

  .why .section__title {
    margin-top: 5px;
  }

  .why .content__section {
    margin-top: 5px;
  }

  .why .section__list {
    gap: 5px;
  }

  .content-section__text {
    margin-bottom: 10px;
  }

  .why {
    display: grid;
    grid-template-columns: 236px 472px;
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
    margin-top: 55px;
  }

  .which_reduces .section__title {
    display: grid;
    grid-template-columns: 236px;
    margin-top: 20px;
  }

  .which_reduces .section__list {
    gap: 10px;
  }

  .how {
    display: grid;
    grid-template-columns: 236px 472px;
    grid-template-rows: repeat(11, auto);
    column-gap: 20px;
    margin-top: 70px;
    justify-content: center;
  }

  .section__title {
    grid-row-start: 1;
    grid-row-end: 12;
  }

  .pictures .title-decor {
    margin-top: 30px;
  }

  .section__pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-gap: 20px;
    margin-top: 20px;
  }

  .pic_sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pic_ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pic_tape {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pic_books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pic_street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
  }

  .footer {
    padding: 0 20px;
    margin-top: 60px;
    text-align: center;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 3px;
    margin-left: -20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1px;
    margin-left: 0px;
    gap: 0px;
  }

  .header__theme-menu-item {
    padding: 0 5px;
  }

  .dark-rec {
    right: 50px;
    top: 20px;
    margin: 0;
  }

  .decorated-zone::before { 
    content: ""; 
    right: 20px;
    top: 20px;
  } 

  .decorated-zone::after { 
    content: ""; 
    left: 20px;
    bottom: 20px;
  } 

  .header__subtitle {
    margin-left: 495px;
    margin-bottom: 17px;
    max-height: 72px;
  }

  .content {
    padding: 0 20px;
    margin-top: 0px;
  }

  .content__section {
    margin-bottom: 10px;
  }

  .content-section__text {
    margin-bottom: 10px;
  }

  .why {
    display: grid;
    grid-template-columns: 315px 650px;
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
    margin-top: 50px;
    justify-content: center;
  }

  .section__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .which_reduces .section__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .how {
    display: grid;
    grid-template-columns: 315px 649px;
    grid-template-rows: repeat(11, auto);
    column-gap: 20px;
    margin-top: 10px;
    justify-content: center;
  }

  .section__title:first-of-type {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .why .content__section {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .why .section__list {
    gap: 0px;
  }

  .which_reduces .section__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .which_reduces .section__item {
    display: flex;
    flex-direction: column;
  }

  .which_reduces .content__section {
    max-height: 23px;
  }

  .which_reduces .content-section__text {
    margin-top: 0px;
  }

  .how .section__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .how .section__list {
    margin-top: 20px;
    gap: 10px;
  }

  .how .content__section_font-regular {
    margin-top: 0px;
  }

  .how .content-section__text-regular {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .pictures .title-decor {
    margin-top: 20px;
  }

  .section__pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 428px;
    grid-gap: 20px;
    margin-top: 20px;
  }

  .pic_sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pic_ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .pic_tape {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pic_books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pic_street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
  }

  .footer {
    padding: 0 20px;
    margin-top: 63px;
    text-align: center;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
